/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Main styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Visually hidden class */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Containers */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-nopad {
  width: 1200px;
  margin: 0 auto;
}

.svg-symb {
  display: none;
}

/* Header */

.page-header {
  position: relative;
  padding: 34px 60px 50px 60px;
  margin-top: 40px;
  background-color: #f7e296;
}

.page-header-main::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 113px;
  background-color: #f7e296;
}

.header-top {
  display: flex;
  align-items: center;
}

.page-search {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-icon {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  background: url("../img/search-icon.svg") no-repeat;
  cursor: pointer;
}

.search-field {
  width: 336px;
  padding: 14px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-field::placeholder {
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover,
.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  color: #000000;
}

.search-field:focus + .search-btn {
  display: block;
}

.search-field:focus + .search-btn::before {
  display: block;
}

.search-btn {
  position: relative;
  display: none;
  padding: 14px 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-btn::before {
  position: absolute;
  bottom: -2px;
  left: -358px;
  z-index: 1;
  content: "";
  display: none;
  width: 358px;
  height: 2px;
  background-color: #000000;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-btn:active,
.search-btn:active::before {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-btn:focus,
.search-btn:focus::before {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
}

.user-box {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-left: 20px;
  padding-bottom: 1px;
}

.user-box p {
  margin: 0;
}

.page-header .user-navigation {
  width: 246px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-btn,
.compare-btn,
.cart-btn,
.user-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}

.login-btn:hover,
.compare-btn:hover,
.cart-btn:hover,
.user-name:hover {
  color: rgba(0, 0, 0, 0.6);
}

.login-btn:hover svg,
.compare-btn:hover svg,
.cart-btn:hover svg,
.user-name:hover svg {
  fill: rgba(0, 0, 0, 0.6);
}

.login-btn:active,
.compare-btn:active,
.cart-btn:active,
.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-btn:active svg,
.compare-btn:active svg,
.cart-btn:active svg,
.user-name:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.compare-btn,
.cart-btn {
  margin-left: 41px;
}

.user-name {
  margin-right: 20px;
}

.logout-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.logout-btn:hover {
  color: #000000;
}

.logout-btn:active {
  color: rgba(0, 0, 0, 0.6);
}

.login-icon,
.compare-icon,
.cart-icon {
  display: inline-block;
  vertical-align: baseline;
  color: #000000;
  margin-right: 10px;
}

.login-icon {
  margin-right: 13px;
}

.login-icon svg {
  width: 13px;
  height: 12px;
}

.compare-icon svg {
  width: 10px;
  height: 10px;
}

.cart-icon svg {
  width: 12px;
  height: 12px;
}

.page-navigation {
  display: flex;
  margin-top: 31px;
}

.page-header-logo {
  position: absolute;
  margin-left: -2px;
  top: -24px;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

.logo-active:hover {
  color: rgba(0, 0, 0, 0.6);
}

.logo-active:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.page-catalog {
  position: relative;
  display: flex;
  width: 50%;
}

.catalog-header h2 {
  position: relative;
  margin: 0;
  padding-right: 30px;
  font-size: 18px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-header h2::before {
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 1;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/plus-icon.svg") no-repeat;
}

.catalog-header h2:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-header h2:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  position: absolute;
  top: 100%;
  left: -60px;
  visibility: hidden;
  width: 1160px;
  padding: 0 60px;
  margin: 0;
  list-style: none;
  background-color: #f7e296;
}

.catalog-list a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-box:hover > .catalog-list {
  z-index: 1;
  visibility: visible;
}

.services-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.services-list a {
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: -4px;
}

.services-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.services-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-header li:first-child {
  margin-right: 37px;
}

.services-header li:nth-child(2) {
  margin-right: 113px;
}

/* Slider */

.main-slider {
  position: relative;
}

.main-slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  right: 100px;
}

.slider-controls label {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  background: url("../img/slider-button-empty.svg") no-repeat center;
  background-size: 12px 12px;
  cursor: pointer;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] {
  background: url("../img/slider-button.svg") no-repeat center;
  background-size: 12px 12px;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  display: flex;
  min-width: 100%;
}

.image-box {
  display: flex;
  width: 50%;
}

.image-box img {
  margin: 0 auto;
}

.slide-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 0 60px 0 20px;
}

.slide-number {
  position: absolute;
  right: 60px;
  top: 0;
  font-size: 179px;
  line-height: 130px;
  font-weight: 700;
  color: #ffffff;
}

.slide-heading {
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.slide-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

.btn {
  position: relative;
  z-index: 1;
  display: block;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 0;
  color: #000000;
  background-color: transparent;
  border: none;
}

.btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: height 0.5s ease;
}

.btn:hover::before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-btn {
  width: 220px;
}

.parameters td {
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.parameters th {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

#slider-btn-1:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#slider-btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-100%);
}

#slider-btn-3:checked ~ .slider-inner .slider-slides {
  transform: translateX(-200%);
}

/* Popular products */

.popular-products {
  margin-top: 100px;
  margin-bottom: 80px;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-card {
  display: block;
  margin: 0 20px;
  width: 160px;
}

.popular-card p {
  color: #000000;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.popular-card:hover .popular-box {
  background-color: #f0c52e;
}

.popular-card:active svg {
  fill: rgba(54, 54, 54, 0.3);
}

.popular-card:active p {
  color: rgba(0, 0, 0, 0.3);
}

.popular-box {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  pointer-events: none;
}

.popular-box svg {
  fill: #363636;
}

.box-vr svg {
  margin: auto;
  width: 97px;
  height: 55px;
}

.box-selfie svg {
  margin: auto auto 0 auto;
  width: 86px;
  height: 117px;
}

.box-camera svg {
  margin: auto;
  width: 71px;
  height: 87px;
}

.box-band svg {
  margin: auto;
  width: 107px;
  height: 65px;
}

.box-watch svg {
  margin: auto;
  width: 56px;
  height: 98px;
}

.box-drone svg {
  margin: auto;
  width: 132px;
  height: 69px;
}

/* Services slider */

.services {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
  background-color: #e5e5e5;
}

.services::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.services input[type="radio"] {
  display: none;
}

.services .container {
  display: flex;
}

.services-controls {
  width: 284px;
  padding: 80px 0 70px 0;
  border-right: 7px solid #000000;
}

.services-controls label {
  margin-bottom: 24px;
}

.services-controls label:last-child {
  margin-bottom: 0;
}

.services-btn {
  width: 160px;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"] {
  color: #f7e184;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"]::before,
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"]::before,
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"]::before {
  background-color: #000000;
  width: 284px;
  height: 100%;
}

.services-slides {
  display: flex;
  width: 876px;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service {
  min-width: 100%;
  padding: 80px 0 0 116px;
}

.delivery {
  background: url("../img/service-delivery.svg") no-repeat 674px 85px;
}

.warranty {
  background: url("../img/service-warranty.svg") no-repeat 659px 61px;
}

.credit {
  background: url("../img/service-credit.svg") no-repeat 650px 62px;
}

.service-header {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.service-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
}

#services-btn-1:checked ~ .slider-inner .services-slides {
  transform: translateX(0);
}

#services-btn-2:checked ~ .slider-inner .services-slides {
  transform: translateX(-100%);
}

#services-btn-3:checked ~ .slider-inner .services-slides {
  transform: translateX(-200%);
}

/* Logotypes */

.logotypes-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 74px 0;
  margin: 0;
}

.company-logo {
  margin: 20px 20px;
  flex-basis: 260px;
}

.company-logo a {
  display: block;
  position: relative;
  width: 260px;
  height: 100px;
}

.company-logo a:hover img:nth-child(1),
.company-logo a:focus img:nth-child(1) {
  opacity: 0;
  z-index: 1;
}

.company-logo a:hover img:nth-child(2),
.company-logo a:focus img:nth-child(2) {
  opacity: 1;
  z-index: 2;
}

.company-logo img {
  position: absolute;
  transition: all .4s ease;
}

.company-logo img:nth-child(1) {
  opacity: 1;
  z-index: 2;
}

.company-logo img:nth-child(2) {
  opacity: 0;
  z-index: 1;
}

/* About us and contacts*/

.section-wrapper {
  display: flex;
  margin-bottom: 80px;
}

.about-us,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us-header,
.contacts-header {
  margin: 50px 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.about-us-description,
.contacts-description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.company-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
}

.about-us-btn,
.write-us-btn {
  width: 260px;
}

.contacts-map {
  display: block;
  width: 560px;
  height: 222px;
  background-color: #eaeaea;
}

/* Catalog title */

.catalog-page-header {
  padding: 0 60px;
}

.catalog-page-title {
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:not(.breadcrumbs-current):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(.breadcrumbs-current):active {
  color: rgba(0, 0, 0, 0.1);
}

/* Catalog */

.main-catalog-box {
  display: flex;
}

.filter {
  display: flex;
  flex-direction: column;
  flex-basis: 328px;
}

.filter-header {
  margin: 0;
  background-color: #dcdcdc;
}

.filter-header,
.sort-header {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter-form {
  height: 100%;
  background-color: #eeeeee;
}

.filter-price b,
.filter-color legend,
.filter-bluetooth legend {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.filter-color,
.filter-bluetooth {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-color-list,
.filter-bluetooth-list {
  padding: 0;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-color-input {
  display: none;
}

.filter-btn {
  width: 200px;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-basis: 832px;
}

.sort {
  display: flex;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.08);
}

.sort-option,
.sort-direction {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-option a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-option .sort-option-active {
  color: #000000;
}

.main-catalog {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding-left: 32px;
  flex-wrap: wrap;
}

.catalog-item {
  margin-left: 40px;
}

.add-to-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare:hover {
  color: #000000;
}

.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-name h3 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item-info b {
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.catalog-pagination {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 72px;
  background-color: rgba(46, 46, 46, 0.08);
  background-clip: content-box;
}

.catalog-pagination li:first-child {
  margin-right: auto;
}

.catalog-pagination li:last-child {
  margin-left: auto;
}

.catalog-pagination a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.paginator-btn {
  padding: 27px 30px;
}

.paginator-btn a {
  color: #000000;
}

.paginator-btn:hover {
  background-color: rgba(46, 46, 46, 0.08);
}

.paginator-btn:active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page:active {
  color: #000000;
}

.page-active {
  color: #000000;
}

/* Footer */

.page-footer {
  background-color: #464646;
  color: #ffffff;
  padding: 65px 0;
}

.footer-top {
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  color: #ffc600;
  font-size: 48px;
  font-weight: 800;
}

.page-footer .logo-active:hover {
  color: rgba(255, 198, 0, 0.6);
}

.page-footer .logo-active:active {
  color: rgba(255, 198, 0, 0.3);
}

.compare-footer,
.login-footer,
.cart-footer,
.user-footer {
  color: rgba(255, 255, 255, 0.7);
  fill: #ffc600;
}

.compare-footer:hover,
.login-footer:hover,
.cart-footer:hover,
.user-footer:hover {
  color: #ffffff;
}

.compare-footer:hover svg,
.login-footer:hover svg,
.cart-footer:hover svg,
.user-footer:hover svg {
  fill: rgba(255, 198, 0, 0.6);
}

.compare-footer:active,
.login-footer:active,
.cart-footer:active,
.user-footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.compare-footer:active svg,
.login-footer:active svg,
.cart-footer:active svg,
.user-footer:active svg {
  fill: rgba(255, 198, 0, 0.3);
}

.page-footer .logout-btn {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer .logout-btn:hover {
  color: #ffffff;
}

.page-footer .logout-btn:active {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle {
  display: flex;
  justify-content: space-between;
}

.address {
  width: 25%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
}

.services-footer {
  justify-content: center;
  width: 50%;
  padding: 0;
}

.services-footer a {
  color: #ffffff;
}

.services-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.services-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.telephone {
  width: 25%;
  text-align: right;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer-bottom {
  display: flex;
}

.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: auto;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
}

.social-btn svg {
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.social-btn:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.social-btn:active svg {
  fill: rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  margin-left: auto;
}

.htmlacademy svg {
  width: 27px;
  height: 34px;
  fill: #ffc600;
}

.htmlacademy svg:hover {
  fill: rgba(255, 198, 0, 0.6);
}

.htmlacademy svg:active {
  fill: rgba(255, 198, 0, 0.3);
}

/* Write-us popup */

.popup-window {
  width: 960px;
  margin: 0 auto;
  padding: 0 80px;
}

.popup-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.popup-form label {
  display: block;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.popup-form input {
  width: 360px;
  padding: 13px 20px;
}

.popup-form textarea {
  width: 100%;
  padding: 13px 20px;
  resize: none;
}

.popup-form .user-input,
.popup-form .user-message {
  padding: 0 20px;
}

.popup-form .user-message {
  width: 100%;
}

.popup-form input,
.popup-form input::placeholder,
.popup-form textarea,
.popup-form textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  border: none;
}

.popup-form input,
.popup-form textarea {
  border: 3px solid transparent;
  background-color: rgba(229, 229, 229, 0.5);
}

.popup-form input:hover,
.popup-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.popup-form input:focus,
.popup-form textarea:focus {
  color: #464646;
  background-color: #ffffff;
  outline: none;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.popup-form input:not(:placeholder-shown):not(:focus):invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.popup-form input:not(:placeholder-shown):not(:focus):invalid:hover {
  background-color: rgba(237, 181, 181, 0.8);
}

.popup-btn {
  width: 200px;
  margin: 0 20px;
}
