/* Fonts */

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy-Light"), url("../fonts/gilroylight.woff2") format("woff2"), url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy-ExtraBold"), url("../fonts/gilroyextrabold.woff2") format("woff2"), url("../fonts/gilroyextrabold.woff") format("woff");
}

/* Main styles */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  color: #000000;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* Visually hidden class */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Containers */

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-nopad {
  width: 1200px;
  margin: 0 auto;
}

.svg-symb {
  display: none;
}

/* Header */

.page-header {
  position: relative;
  padding: 34px 60px 52px 60px;
  margin-top: 40px;
  background-color: #f7e296;
}

.page-header-main::before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  content: "";
  display: block;
  width: 100%;
  height: 113px;
  background-color: #f7e296;
}

.header-top {
  display: flex;
  align-items: center;
}

.page-search {
  display: flex;
  align-items: center;
  width: 50%;
}

.search-icon {
  width: 16px;
  height: 16px;
  margin-left: 3px;
  background: url("../img/search-icon.svg") no-repeat;
  cursor: pointer;
}

.search-field {
  width: 336px;
  padding: 14px 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
  background-color: transparent;
  border: none;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  outline: none;
}

.search-field::placeholder {
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.search-field:hover,
.search-field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.search-field:focus {
  color: #000000;
}

.search-field:focus + .search-btn {
  display: block;
}

.search-field:focus + .search-btn::before {
  display: block;
}

.search-btn {
  position: relative;
  display: none;
  padding: 14px 19px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  background-color: transparent;
  border: 2px solid #000000;
}

.search-btn::before {
  position: absolute;
  bottom: -2px;
  left: -358px;
  z-index: 1;
  content: "";
  display: none;
  width: 358px;
  height: 2px;
  background-color: #000000;
}

.search-btn:hover {
  color: #ffffff;
  background-color: #000000;
}

.search-btn:active,
.search-btn:active::before {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
}

.search-btn:focus,
.search-btn:focus::before {
  display: block;
  color: rgba(255, 255, 255, 0.3);
  background-color: #000000;
  outline: none;
}

.user-box {
  display: flex;
  justify-content: flex-end;
  width: 50%;
  padding-left: 20px;
  padding-bottom: 1px;
}

.user-box p {
  margin: 0;
}

.page-header .user-navigation {
  width: 246px;
}

.user-navigation {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
}

.login-btn,
.compare-btn,
.cart-btn,
.user-name {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #000000;
}

.login-btn:hover,
.compare-btn:hover,
.cart-btn:hover,
.user-name:hover {
  color: rgba(0, 0, 0, 0.6);
}

.login-btn:hover svg,
.compare-btn:hover svg,
.cart-btn:hover svg,
.user-name:hover svg {
  fill: rgba(0, 0, 0, 0.6);
}

.login-btn:active,
.compare-btn:active,
.cart-btn:active,
.user-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.login-btn:active svg,
.compare-btn:active svg,
.cart-btn:active svg,
.user-name:active svg {
  fill: rgba(0, 0, 0, 0.3);
}

.compare-btn,
.cart-btn {
  margin-left: 41px;
}

.user-name {
  margin-right: 20px;
}

.logout-btn {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
  margin-right: 2px;
}

.logout-btn:hover {
  color: #000000;
}

.logout-btn:active {
  color: rgba(0, 0, 0, 0.6);
}

.login-icon,
.compare-icon,
.cart-icon {
  display: inline-block;
  vertical-align: baseline;
  color: #000000;
  margin-right: 10px;
}

.login-icon {
  margin-right: 13px;
}

.login-icon svg {
  width: 13px;
  height: 12px;
}

.compare-icon svg {
  width: 10px;
  height: 10px;
}

.cart-icon svg {
  width: 12px;
  height: 12px;
}

.page-navigation {
  display: flex;
  margin-top: 31px;
}

.page-header-logo {
  position: absolute;
  margin-left: -2px;
  top: -24px;
  font-weight: 800;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: 0.01em;
  color: #000000;
}

.logo-active:hover {
  color: rgba(0, 0, 0, 0.6);
}

.logo-active:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.page-catalog {
  position: relative;
  display: flex;
  width: 50%;
}

.catalog-header h2 {
  position: relative;
  margin: 0;
  padding-right: 30px;
  font-size: 18px;
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-header h2::before {
  position: absolute;
  top: 50%;
  right: 3px;
  z-index: 1;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  background: url("../img/plus-icon.svg") no-repeat;
}

.catalog-header h2:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-header h2:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-list {
  position: absolute;
  top: 100%;
  left: -60px;
  display: flex;
  flex-wrap: wrap;
  visibility: hidden;
  width: 1160px;
  padding: 23px 60px 34px 60px;
  margin: 0;
  list-style: none;
  background-color: #f7e296;
}

.catalog-list li {
  flex-basis: 160px;
  margin-right: 40px;
}

.catalog-list li:nth-child(1),
.catalog-list li:nth-child(2),
.catalog-list li:nth-child(3) {
  flex-basis: 200px;
}

.catalog-list li:nth-child(2) {
  order: 1;
}

.catalog-list li:nth-child(3) {
  order: 3;
  flex-basis: 100%;
}

.catalog-list li:nth-child(5) {
  order: 2;
}

.catalog-list li:last-child {
  flex-basis: 50%;
}

.catalog-list a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #000000;
  letter-spacing: 0.01em;
}

.catalog-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.catalog-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-box:hover > .catalog-list {
  z-index: 1;
  visibility: visible;
}

.services-list {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
  padding-left: 20px;
  list-style: none;
}

.services-list a {
  color: #000000;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: -4px;
}

.services-list a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.services-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-header li:first-child {
  margin-right: 37px;
}

.services-header li:nth-child(2) {
  margin-right: 113px;
}

/* Slider */

.main-slider {
  position: relative;
  padding-top: 2px;
}

.main-slider input[type="radio"] {
  display: none;
}

.slider-controls {
  position: absolute;
  right: 95px;
  top: 331px;
}

.slider-controls label {
  position: relative;
  z-index: 1;
  display: inline-block;
  vertical-align: top;
  width: 12px;
  height: 12px;
  margin: 0 8px;
  background: url("../img/slider-button-empty.svg") no-repeat center;
  background-size: 12px 12px;
  cursor: pointer;
}

#slider-btn-1:checked ~ .slider-controls label[for="slider-btn-1"],
#slider-btn-2:checked ~ .slider-controls label[for="slider-btn-2"],
#slider-btn-3:checked ~ .slider-controls label[for="slider-btn-3"] {
  background: url("../img/slider-button.svg") no-repeat center;
  background-size: 12px 12px;
}

.slider-inner {
  overflow: hidden;
}

.slider-slides {
  display: flex;
  flex-wrap: nowrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.slide {
  display: flex;
  min-width: 100%;
}

.image-box {
  display: flex;
  width: 50%;
}

.slide-1 img {
  margin-left: 90px;
}

.slide-2 img {
  margin-top: 12px;
  margin-left: 116px;
}

.slide-3 img {
  margin-top: 65px;
  margin-left: 31px;
}

.slide-info {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 79px 60px 0 20px;
}

.slide-info::before {
  position: absolute;
  top: 37px;
  left: 20px;
  display: block;
  content: "";
  width: 100px;
  height: 7px;
  background-color: #ffffff;
}

.slide-number {
  position: absolute;
  right: 45px;
  top: -27px;
  z-index: -1;
  font-size: 180px;
  font-weight: 800;
  letter-spacing: 0.01em;
  color: #ffffff;
}

.slide-heading {
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  letter-spacing: 0.01em;
}

.slide-description {
  margin-top: 19px;
  margin-bottom: 43px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.btn {
  position: relative;
  z-index: 1;
  display: block;
  padding: 8px 0;
  padding-left: 3px;
  text-align: center;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000000;
  background-color: transparent;
  border: none;
}

.btn::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  transition: height 0.5s ease;
}

.btn:hover::before {
  height: 100%;
}

.btn:active {
  color: rgba(0, 0, 0, 0.3);
}

.about-btn {
  width: 220px;
}

.parameters {
  width: 460px;
  margin-top: 49px;
  margin-left: -2px;
  border-collapse: collapse;
}

.parameters td {
  width: 150px;
  text-align: left;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  letter-spacing: 0.01em;
}

.parameters td:nth-child(2) {
  width: 140px;
}

.parameters th {
  width: 160px;
  padding-left: 2px;
  text-align: left;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: #464646;
}

.parameters th:nth-child(2) {
  width: 140px;
}

#slider-btn-1:checked ~ .slider-inner .slider-slides {
  transform: translateX(0);
}

#slider-btn-2:checked ~ .slider-inner .slider-slides {
  transform: translateX(-100%);
}

#slider-btn-3:checked ~ .slider-inner .slider-slides {
  transform: translateX(-200%);
}

/* Popular products */

.popular-products {
  margin-top: 95px;
  margin-bottom: 48px;
}

.popular-products-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popular-card {
  display: block;
  margin: 0 20px;
  width: 160px;
}

.popular-card p {
  margin: 33px 0;
  color: #000000;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.01em;
}

.popular-card:hover .popular-box {
  background-color: #f0c52e;
}

.popular-card:active svg {
  fill: rgba(54, 54, 54, 0.3);
}

.popular-card:active p {
  color: rgba(0, 0, 0, 0.3);
}

.popular-box {
  display: flex;
  width: 160px;
  height: 160px;
  background-color: #f7e296;
  pointer-events: none;
}

.popular-box svg {
  fill: #363636;
}

.box-vr svg {
  margin: auto;
  width: 97px;
  height: 55px;
}

.box-selfie svg {
  margin: auto auto 0 auto;
  width: 86px;
  height: 117px;
}

.box-camera svg {
  margin: auto;
  width: 71px;
  height: 87px;
}

.box-band svg {
  margin: auto;
  width: 107px;
  height: 65px;
}

.box-watch svg {
  margin: auto;
  width: 56px;
  height: 98px;
}

.box-drone svg {
  margin: auto;
  width: 132px;
  height: 69px;
}

/* Services slider */

.services {
  position: relative;
  z-index: 1;
  padding-bottom: 70px;
  background-color: #e5e5e5;
}

.services::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  width: 100%;
  height: 100px;
  background-color: #ffffff;
}

.services input[type="radio"] {
  display: none;
}

.services .container {
  display: flex;
}

.services-controls {
  width: 284px;
  padding: 80px 0 70px 0;
  border-right: 7px solid #000000;
}

.services-controls label {
  margin-bottom: 24px;
  outline: none;
}

.services-controls label:last-child {
  margin-bottom: 0;
}

.services-btn {
  width: 160px;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"],
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"],
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"] {
  color: #f7e184;
}

#services-btn-1:checked ~ .services-controls label[for="services-btn-1"]::before,
#services-btn-2:checked ~ .services-controls label[for="services-btn-2"]::before,
#services-btn-3:checked ~ .services-controls label[for="services-btn-3"]::before {
  background-color: #000000;
  width: 284px;
  height: 100%;
}

.services-slides {
  display: flex;
  width: 876px;
  height: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
}

.service {
  min-width: 100%;
  padding: 73px 0 0 116px;
}

.delivery {
  background: url("../img/service-delivery.svg") no-repeat 674px 85px;
}

.warranty {
  background: url("../img/service-warranty.svg") no-repeat 659px 61px;
}

.credit {
  background: url("../img/service-credit.svg") no-repeat 650px 61px;
}

.service-header {
  margin: 0;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.service-description {
  max-width: 460px;
  margin: 31px 0;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.02em;
  color: #464646;
}

#services-btn-1:checked ~ .slider-inner .services-slides {
  transform: translateX(0);
}

#services-btn-2:checked ~ .slider-inner .services-slides {
  transform: translateX(-100%);
}

#services-btn-3:checked ~ .slider-inner .services-slides {
  transform: translateX(-200%);
}

/* Logotypes */

.logotypes-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 74px 0;
  padding-bottom: 73px;
  margin: 0;
}

.company-logo {
  margin: 20px 20px;
  flex-basis: 260px;
}

.company-logo a {
  display: block;
  position: relative;
  width: 260px;
  height: 100px;
}

.company-logo a:hover img:nth-child(1),
.company-logo a:focus img:nth-child(1) {
  opacity: 0;
  z-index: 1;
}

.company-logo a:hover img:nth-child(2),
.company-logo a:focus img:nth-child(2) {
  opacity: 1;
  z-index: 2;
}

.company-logo img {
  position: absolute;
  transition: all .4s ease;
}

.company-logo img:nth-child(1) {
  opacity: 1;
  z-index: 2;
}

.company-logo img:nth-child(2) {
  opacity: 0;
  z-index: 1;
}

/* About us and contacts*/

.section-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 82px;
}

.about-us,
.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-basis: 560px;
}

.about-us::before,
.contacts::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #000000;
}

.about-us-header,
.contacts-header {
  margin: 52px 0 43px -2px;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.about-us-description,
.contacts-description {
  margin: 0;
  margin-bottom: 30px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  color: #464646;
}

.company-list {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  padding: 0;
  padding-left: 36px;
  margin: 0;
  margin-top: 36px;
  list-style: none;
}

.company-list li {
  position: relative;
}

.company-list li::before {
  position: absolute;
  top: 50%;
  left: -35px;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.about-us-btn,
.write-us-btn {
  width: 260px;
  margin-top: 54px;
  cursor: pointer;
}

.contacts-map {
  display: block;
  width: 560px;
  height: 222px;
  margin-top: 9px;
  margin-bottom: 15px;
  background-color: #eaeaea;
}

/* Catalog title */

.catalog-page-header {
  padding: 0 60px;
  padding-top: 37px;
  margin: 0;
  margin-bottom: 46px;
}

.catalog-page-title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.breadcrumbs li {
  position: relative;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs li:not(:last-child) {
  margin-right: 37px;
}

.breadcrumbs li:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -20px;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 4px;
  height: 7px;
  background: url("../img/nav-arrow.svg") no-repeat center;
}

.breadcrumbs a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:not(.breadcrumbs-current):hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:not(.breadcrumbs-current):active {
  color: rgba(0, 0, 0, 0.1);
}

/* Catalog */

.main-catalog-box {
  display: flex;
}

/*.bg-box { 
  width: 100%;
  background-image: linear-gradient( to right,
  #eeeeee calc(~"50% - 252px"),
  #fff calc(~"50% - 252px"),
  #fff 100%),
  linear-gradient( to right,
  #dcdcdc calc(~"50% - 252px"),
  #ebebeb calc(~"50% - 252px"),
  #ebebeb 100%);
  background-repeat: no-repeat;
  background-size: 100% 100%, 100% 100%;
  background-position: 0 70px, 0 0;
}*/

/* Filter */

.filter {
  display: flex;
  flex-direction: column;
  flex-basis: 328px;
}

.filter-header {
  margin: 0;
  background-color: #dcdcdc;
  padding: 23px 0 23px 60px;
}

.filter-header,
.sort-header {
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}

.filter-form {
  height: 100%;
  padding: 69px 68px 0 59px;
  background-color: #eeeeee;
}

/* Filter slider */

.slider {
  margin: 30px 0;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
  height: 2px;
  background-color: #dbdbdb;
}

.selected-area {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #91c92f;
}

.drag {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 3;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 2px 0 0 #dbdbdb;
}

.drag::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  content: "";
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
}

.drag:active {
  transform: translateY(-50%) scale(1.1);
}

.drag-right {
  right: -10px;
}

.drag-right .drag-info {
  left: 0;
}

.drag-left {
  left: -10px;
}

.drag-left .drag-info {
  right: 0;
}

.drag-info {
  position: absolute;
  top: 25px;
  display: block;
  height: 10px;
  font-size: 14px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.2);
}

.filter-price {
  padding-top: 12px;
  padding-bottom: 37px;
  border-top: 2px solid #000000;
}

.filter-price b {
  display: block;
  margin-bottom: 37px;
}

.filter-price b,
.filter-color legend,
.filter-bluetooth legend {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.01em;
}

.filter-color,
.filter-bluetooth {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-color legend,
.filter-bluetooth legend {
  margin-bottom: 20px;
}

.fieldset-box {
  padding-top: 12px;
  padding-bottom: 31px;
  border-top: 2px solid #000000;
}

.filter-color-list,
.filter-bluetooth-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.01em;
}

.filter-color-input,
.filter-bluetooth-input {
  display: none;
}

.filter-color-input + label {
  position: relative;
  padding-left: 39px;
  padding-top: 2px;
}

.filter-color-input + label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 27px;
  height: 23px;
  background: url("../img/checkbox-off.svg") no-repeat left;
}

.filter-bluetooth-input + label {
  position: relative;
  padding-left: 40px;
  padding-top: 4px;
}

.filter-bluetooth-input + label::before {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  content: "";
  width: 25px;
  height: 25px;
  background-color: #ffffff;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-bluetooth-input + label::after {
  position: absolute;
  top: 8px;
  left: 8px;
  display: none;
  content: "";
  width: 9px;
  height: 9px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-color-input:not(:disabled) + label:hover::before,
.filter-bluetooth-input:not(:disabled) + label:hover::before,
.filter-bluetooth-input:not(:disabled) + label:hover::after {
  opacity: 0.6;
}

.filter-color-input:checked + label::before {
  background: url("../img/checkbox-on.svg") no-repeat left;
}

.filter-bluetooth-input:checked + label::after {
  display: block;
}

.filter-color-input:checked:not(:disabled) + label:hover::before,
.filter-bluetooth-input:checked:not(:disabled) + label:hover::before,
.filter-bluetooth-input:checked:not(:disabled) + label:hover::after {
  opacity: 0.6;
}

.filter-color-input:disabled + label,
.filter-bluetooth-input:disabled + label {
  opacity: 0.25;
}

.filter-color-input:disabled + label::before,
.filter-bluetooth-input:disabled + label::before {
  opacity: 0.25;
}

.filter-color-input:disabled + label::after,
.filter-bluetooth-input:disabled + label::after {
  opacity: 0.25;
}

.filter-btn {
  width: 200px;
}

.catalog {
  display: flex;
  flex-direction: column;
  flex-basis: 832px;
}

.sort {
  display: flex;
  align-content: center;
  margin-bottom: 69px;
  padding: 23px 0 23px 72px;
  background-color: rgba(0, 0, 0, 0.08);
}

.sort-header {
  margin-right: 51px;
}

.sort-option,
.sort-direction {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sort-option li {
  margin-right: 29px;
}

.sort-option a {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.3);
}

.sort-option a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sort-option .sort-option-active {
  color: #000000;
}

.sort-direction {
  margin-left: auto;
}

.sort-up,
.sort-down {
  position: relative;
  display: block;
  width: 11px;
  height: 100%;
}

.sort-up::before,
.sort-down::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-color: transparent;
}

.sort-up {
  margin-right: 19px;
}

.sort-up::before {
  border-width: 0 5.5px 10px 5.5px;
  border-bottom-color: rgba(0, 0, 0, 0.2);
}

.sort-up:hover::before {
  border-bottom-color: rgba(0, 0, 0, 0.4);
}

.sort-down::before {
  border-width: 10px 5.5px 0 5.5px;
  border-top-color: rgba(0, 0, 0, 0.2);
}

.sort-down:hover::before {
  border-top-color: rgba(0, 0, 0, 0.4);
}

.sort-up.sort-direction-active::before {
  border-bottom-color: #000000;
}

.sort-down.sort-direction-active::before {
  border-top-color: #000000;
}

.main-catalog {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 32px;
  list-style: none;
}

.catalog-item {
  margin-left: 40px;
}

.catalog-item-image {
  position: relative;
  width: 360px;
  height: 380px;
}

.catalog-item-image:hover .catalog-item-hover {
  z-index: 1;
}

.catalog-item-hover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  padding-top: 172px;
  width: 360px;
  height: 380px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
}

.hover-show {
  z-index: 1;
}

.add-to-cart-btn {
  margin: 0 auto;
  margin-bottom: 6px;
  width: 200px;
}

.add-to-compare {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.5);
}

.add-to-compare:hover {
  color: #000000;
}

.add-to-compare:active {
  color: rgba(0, 0, 0, 0.2);
}

.catalog-item-info {
  display: flex;
  padding-top: 32px;
  padding-bottom: 46px;
}

.catalog-item-name h3 {
  margin: 0;
  width: 260px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.01em;
  color: #000000;
}

.catalog-item-info b {
  width: 100px;
  text-align: right;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  letter-spacing: 0.01em;
  color: #464646;
}

.item-new::before {
  position: absolute;
  top: 28px;
  right: 27px;
  z-index: 2;
  display: block;
  content: "NEW";
  width: 60px;
  height: 61px;
  text-align: center;
  font-size: 14px;
  line-height: 60px;
  font-weight: 800;
  letter-spacing: 0.05em;
  color: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-pagination {
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: -11px;
  padding-left: 72px;
  margin-bottom: 77px;
  background-color: rgba(46, 46, 46, 0.08);
  background-clip: content-box;
}

.catalog-pagination li:first-child {
  margin-right: auto;
}

.catalog-pagination li:last-child {
  margin-left: auto;
}

.catalog-pagination li:nth-child(2) {
  margin-left: 40px;
}

.catalog-pagination li:not(:first-child):not(:last-child) {
  padding-top: 24px;
  padding-bottom: 20px;
  margin-right: 27px;
}

.catalog-pagination a {
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.paginator-btn {
  padding: 24px 30px 22px;
}

.paginator-btn a {
  color: #000000;
}

.paginator-btn:hover {
  background-color: rgba(46, 46, 46, 0.08);
}

.paginator-btn:active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-page:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-page:active {
  color: #000000;
}

.page-active {
  color: #000000;
}

/* Footer */

.page-footer {
  background-color: #464646;
  color: #ffffff;
}

.page-footer .container {
  padding: 56px 20px 63px;
  background-color: #464646;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 19px;
}

.footer-logo {
  margin-left: -2px;
  color: #ffc600;
  font-size: 48px;
  font-weight: 800;
}

.page-footer .user-box {
  padding-bottom: 11px;
  margin-right: -1px;
}

.page-footer .logo-active:hover {
  color: rgba(255, 198, 0, 0.6);
}

.page-footer .logo-active:active {
  color: rgba(255, 198, 0, 0.3);
}

.compare-footer,
.login-footer,
.cart-footer,
.user-footer {
  color: rgba(255, 255, 255, 0.7);
  fill: #ffc600;
}

.compare-footer:hover,
.login-footer:hover,
.cart-footer:hover,
.user-footer:hover {
  color: #ffffff;
}

.compare-footer:hover svg,
.login-footer:hover svg,
.cart-footer:hover svg,
.user-footer:hover svg {
  fill: rgba(255, 198, 0, 0.6);
}

.compare-footer:active,
.login-footer:active,
.cart-footer:active,
.user-footer:active {
  color: rgba(255, 255, 255, 0.3);
}

.compare-footer:active svg,
.login-footer:active svg,
.cart-footer:active svg,
.user-footer:active svg {
  fill: rgba(255, 198, 0, 0.3);
}

.page-footer .login-btn {
  margin-right: 2px;
}

.page-footer .logout-btn {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer .logout-btn:hover {
  color: #ffffff;
}

.page-footer .logout-btn:active {
  color: rgba(255, 255, 255, 0.6);
}

.footer-middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 62px;
}

.address {
  width: 25%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
  font-style: normal;
}

.services-footer {
  justify-content: center;
  width: 50%;
  padding: 0;
  margin-top: 5px;
  margin-left: 2px;
}

.services-footer a {
  margin: 0 17px;
  color: #ffffff;
}

.services-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.services-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.telephone {
  width: 25%;
  text-align: right;
  color: #ffffff;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 30px;
}

.footer-bottom {
  position: relative;
  display: flex;
  align-items: center;
}

.footer-bottom::before {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 80px;
  height: 7px;
  background-color: #ffc600;
}

.footer-copyright {
  margin: 0;
}

.footer-social {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-right: -28px;
  margin-left: auto;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  margin: 0 11px;
}

.social-btn svg {
  width: 32px;
  height: 32px;
  fill: rgba(255, 255, 255, 0.3);
  pointer-events: none;
}

.social-btn:hover svg {
  fill: rgba(255, 255, 255, 0.6);
}

.social-btn:active svg {
  fill: rgba(255, 255, 255, 0.1);
}

.footer-copyright {
  margin-left: auto;
}

.htmlacademy {
  width: 27px;
  height: 34px;
}

.htmlacademy svg {
  width: 27px;
  height: 34px;
  fill: #ffc600;
}

.htmlacademy svg:hover {
  fill: rgba(255, 198, 0, 0.6);
}

.htmlacademy svg:active {
  fill: rgba(255, 198, 0, 0.3);
}

/* Write-us popup */

.fixed-window {
  position: fixed;
  top: 50vh;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.form-popup {
  top: 0;
  right: 0;
  position: relative;
  display: none;
  width: 960px;
  margin: 0 auto;
  padding: 93px 80px 77px;
  background-color: #ffffff;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.button-box {
  position: absolute;
  top: 22px;
  right: 22px;
}

.close-btn {
  position: relative;
  z-index: 3;
  width: 55px;
  height: 55px;
  border: none;
  background-color: rgba(240, 197, 46, 0.5);
  border-radius: 50%;
  cursor: pointer;
}

.close-btn:hover {
  background-color: #f0c52e;
}

.close-btn:active {
  outline: none;
  background-color: rgba(240, 197, 46, 0.3);
}

.close-btn::before,
.close-btn::after {
  position: absolute;
  display: block;
  content: "";
  background-color: #ffffff;
}

.close-btn::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 30px;
  height: 2px;
}

.close-btn::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 2px;
  height: 30px;
}

.popup-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.popup-form p {
  margin: 0;
  margin-bottom: 33px;
}

.popup-form label {
  display: block;
  margin-bottom: 6px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
}

.popup-form input {
  width: 360px;
  padding: 13px 17px;
}

.popup-form textarea {
  width: 100%;
  padding: 13px 17px;
  resize: none;
}

.popup-form .user-input,
.popup-form .user-message {
  padding: 0 20px;
}

.popup-form .user-message {
  width: 100%;
  margin-bottom: 38px;
}

.popup-form input,
.popup-form input::placeholder,
.popup-form textarea,
.popup-form textarea::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
  border: none;
}

.popup-form input,
.popup-form textarea {
  border: 3px solid transparent;
  background-color: rgba(229, 229, 229, 0.5);
}

.popup-form input:hover,
.popup-form textarea:hover {
  background-color: rgba(229, 229, 229, 0.8);
}

.popup-form input:focus,
.popup-form textarea:focus {
  color: #464646;
  background-color: #ffffff;
  outline: none;
  border: 3px solid rgba(240, 197, 46, 0.5);
}

.popup-form input:invalid:not(:placeholder-shown):not(:focus) {
  background-color: rgba(237, 181, 181, 0.5);
}

.popup-form input:invalid:not(:placeholder-shown):not(:focus):hover {
  background-color: rgba(237, 181, 181, 0.8);
}

.popup-btn {
  width: 200px;
  margin: 0 20px;
}

.map-popup {
  position: relative;
  display: none;
  width: 960px;
  height: 559px;
  box-shadow: 0px 10px 20px 0px rgba(4, 6, 6, 0.2);
}

.map-popup iframe {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.map-popup img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.show {
  display: block;
}

/*
@keyframes popup-invalid {
  33% {
    transform: translateX(-15px);
  }

  66% {
    transform: translateX(15px);
  }
}

.animate-invalid {
  animation-name: popup-invalid;
  animation-duration: 100ms;
  animation-iteration-count: 10;
}*/
